<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTech - Mua hàng Online giá rẻ</title>
    <link rel="icon" type="image/x-icon" href="../../assets/imgs/logo-tab.png">
    <link rel="stylesheet" href="../../normalize.css">
    <!-- assets -->
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!--fonts-->
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="web6713">

        <div class="header_first">
        </div>
        <header class="header">
            <div class="grid wide">
                <div class="header_navbar">
                        <div class="header_navbar-search">                   
                        <div class="header_width-search">
                            <a href="../../index.htm" class="header_logo">
                                <img class="header_logo-img " src="../../assets/imgs/logo.png" alt="ProTech-logo" width="96" height="40">
                            </a>
                        </div>

                        <div class="header_search">
                            <input type="text" class="header_search-input" placeholder="Nhập thông tin để tìm kiếm sản phẩm">
                            <button type="button" class="header_search-button">Tìm kiếm</button>
                            <div class="suggestions"></div>
                        </div>
                        </div>

                     <div class="history-wrap">
                        <p class="history-item"> Lịch sử tìm kiếm </p>
                        <ul class="search-history">
                            <!-- Lịch sử tìm kiếm sẽ xuất hiện tại đây -->
                        </ul>
                    </div>
                    
                    <ul class="header_navbar-list">
                        <li class="header_navbar-item">

                        <a href="../../index.htm" class="header_navbar-icon-link">
                            <i class="fa-solid fa-house"></i>
                        </a>

                        <a href="../../index.htm" class="header_navbar-icon-link header_navbar-link--strong">
                            Trang chủ
                        </a>
                    </li>

                   

                    <li class="header_navbar-item">
                        <a href="#" class="header_navbar-item-link">
                            <a href="./Information.htm" class="header_navbar-icon-link">
                                <i class="fa-regular fa-face-smile-wink"></i>
                            </a>
                            <a href="./Information.htm" class="header_navbar-icon-link header_navbar-link--strong">
                                Tài khoản
                            </a>
                        </a>
                        
                    </li>
                    
                    <li class="header_navbar-item header_navbar-item-no-pointer">
                        Liên hệ
                        <a href="#" class="header_navbar-icon-link header_navbar-icon-link--separate">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram "></i>
                        </a>
                        
                    </li>
                    
                    <li class="header_navbar-item">
                        <!-- <div class="header_cart-wrap">  -->

                            <a href="../../Template/Cart.htm" class="header_navbar-icon-link">
                                <i class="header_navbar-icon-cart fa-solid fa-cart-shopping"></i> </a>
                                
                                
                                <!-- <div class="header_cart-list header_cart-list-no-cart">
                                    <img class=" header_cart-no-cart-img" src="./assets/imgs/cart-empty.png">
                                    <span class="header_cart-no-cart-msg"> Giỏ hàng đang trống </span>
                                    
                                    
                                </div>
                            </div> -->
                            
                        </li>
                    </ul>                       
                </div>
            </div>
        </div>
            
            
        </div>
            <div class="header_navbar-discount">
                <ul class="header_navbar-discount-list">

                    <li class="header_navbar-discount-item">
                    <a href="#" class=" header_navbar-dis-link header_navbar-dis-link--strong">
                        Cam kết
                    </a>
                    </li>


                    <li class="header_navbar-discount-item " >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-award"></i>                            
                        100% hàng thật  
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >   
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-circle-check"></i>
                        Chính hãng 
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-tags"></i>
                        Giá ưu đãi
                    </a>
                    </li>

                     
                    <li class="header_navbar-discount-item" >  
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-rotate"></i> 
                         30 ngày đổi trả
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link">
                         <i class="header_navbar-dis-icon fa-solid fa-truck-fast"></i>
                        Giao nhanh trong 2h
                    </a>
                    </li>
                </ul>   
            </div>            
        </header>
        
        
        <!-- Header-navbar-cart-no-cart-->
        <div class="header_navbar-cart-wrap">

            <div class="header_navbar-cart">
            <img class="header_navbar-cart-no-cart-img" src="../../assets/imgs/cart-empty.png">
            <!-- <p class=".header_navbar-cart-no-cart-text"> Không có sản phẩm nào trong giỏ hàng của bạn </p>
            <a href="../../index.htm" class="header_navbar-cart-home"> Về trang chủ </a> -->
            <h3 class="header_cart-heading">Giỏ hàng của bạn </h3>


<div class="header_cart-has-product">
    
            <div class="header_cart-wrap">
            <div class="header_cart">
            <img class="header_cart-img" src="../../assets/imgs/samsunggalaxy.jpg">
            <div class="header_cart-item-name">
                <div class="name-group">
                    <span class="header_cart-item"> Samsung Galaxy S23 Ultra 5G 8GB/256GB - Đen </span>
                <a class="header_cart-trash-can" href="#" >
                    <i class=" cart-icon-1 fa-regular fa-trash-can"></i>
                </a>
                    
                </div>

                <div class="header-price">
                <span class="header_cart-price-1">21.490.000đ</span>
                <span class="header_cart-price-2"> 24.990.000đ</span>           
               </div>
            </div>
           </div>

           <div class="header_cart-discount">
                 <div class="header_cart-discount-item">
                    <i class="cart-icon-2 fa-solid fa-gift"></i>
                    <span class="cart-item"> Chương trình khuyến mãi </span>
                    <li> Trả góp 0% đến 12 tháng, 0đ trả trước qua Samsung Finance+ </li>
                    <li> Giảm ngay 500.000đ thanh toán qua thẻ MB Bank </li>
                 </div>
           </div>
        </div>



        <div class="header_cart-wrap-2">
            <div class="header_cart">
                <img class="header_cart-img-2" src="../assets/imgs/ipad.png">   
                <div class="header_cart-item-name">
                    <div class="name-group">
                        <span class="header_cart-item"> iPad Air 6 M2 11 inch Wifi 128GB - Đen </span>
                        <a class="header_cart-trash-can" href="#" >
                        <i class=" cart-icon-1 fa-regular fa-trash-can"></i>
                        </a>
                    </div>
                    <div class="header-price">
                    <span class="header_cart-price-1">16.990.000đ</span>
                    <span class="header_cart-price-2">19.289.000đ</span>                
                    </div>
                </div>
            </div>
    
               <div class="header_cart-discount">
                     <div class="header_cart-discount-item">
                        <i class="cart-icon-2 fa-solid fa-gift"></i>
                        <span class="cart-item"> Chương trình khuyến mãi </span>
                        <li> Hoàn đến 2 triệu khi thanh toán qua thẻ tín dụng HSBC </li>
                        <li> Phần quà trị giá 500.000 dành cho học sinh sinh viên </li>
                        <li> 1 đổi 1 VIP 6 tháng </li>
                     </div>
            </div>    
            </div>         
        </div>
        <div class="cart_footer">
            <div class="footer">               
                 <span class="footer-item"> Tạm tính:</span>
                 <span class="footer-price">38.480.000đ</span>
                 <span class="footer-vat"> Chưa bao gồm chiết khấu </span>
            </div>
                <button class="footer-button"> 
                    <a href="../Template/Category/Info.htm">
                    Mua ngay 
                    </a>
                </button>
       </div>
 </div>
       </div>
    </div>     

    <script src="../Template/cart.js"></script>
</body>
