<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTech - Mua hàng Online giá rẻ</title>
    <link rel="icon" type="image/x-icon" href="../assets/imgs/logo-tab.png">
    <link rel="stylesheet" href="../normalize.css">
    <!-- assets -->
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/grid.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <!--fonts-->
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="web6713">
        <div class="header_first">
            <!-- <div class="grid">

            </div> -->
        </div>
        <header class="header">
            <div class="grid wide">
                <div class="row header_navbar">
                    <div class="header_navbar-search">
                        <div class="header_width-search">
                            <a href="./index.htm" class="header_logo">
                                <img class="header_logo-img " src="../assets/imgs/logo.png" alt="ProTech-logo" width="96" height="40">
                            </a>
                        </div> 
                        <div class="header_navbar-search">
                            <div class="header_search">

                                <i class="header_search-icon fa-solid fa-magnifying-glass "></i>
                                <input type="text" class="header_search-input " placeholder ="Nhập thông tin để tìm kiếm sản phẩm ">
                                <button type="button" class="header_search-button"> Tìm kiếm </button>  
                                   
                                <div class="header_navbar-search-history">
                                    <div class="header_navbar-search-history-heading">
                                         Lịch sử tìm kiếm 
                                         
                                    </div>

                                    <ul class="header_navbar-search-history-list">
                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                Iphone 14 promax 
                                                
                                            </a>
                                        </li>

                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                AirPod Pro 2 
                                                
                                            </a>
                                        </li>

                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                Laptop Dell Precision 
                                            </a>
                                           
                                        </li>
 
                                        
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <ul class="header_navbar-list">
                            <li class="header_navbar-item">
    
                            <a href="../index.htm" class="header_navbar-icon-link">
                                <i class="fa-solid fa-house"></i>
                            </a>
    
                            <a href="../index.htm" class="header_navbar-icon-link header_navbar-link--strong">
                                Trang chủ
                            </a>
                        </li>
    
                       
    
                        <li class="header_navbar-item">
                            <a href="./Template/Information.htm" class="header_navbar-item-link">
                                <a href="#" class="header_navbar-icon-link" id="account-icon-link">
                                    <i class="fa-regular fa-face-smile-wink"></i>
                                </a>
                                <a href="#" class="header_navbar-icon-link header_navbar-link--strong" id="account-link">
                                    Tài khoản
                                </a>
                            </a>
                        </li>

                        <li class="header_navbar-item header_navbar-item-no-pointer">
                            <a href="#" class="header_navbar-icon-link header_navbar-icon-link--separate">
                                Liên hệ
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram "></i>
                            </a>
                            
                        </li>
                        
                        <li class="header_navbar-item">
                           
                                <!-- <div class="header_cart-wrap">  -->

                                    <a href="../Template/Cart.htm" class="header_navbar-icon-link">
                                        <i class="header_navbar-icon-cart fa-solid fa-cart-shopping"></i> <span id="cart-count">2</span> 
                                    </a>
                            
                                 
                            <!-- <div class="header_cart-list header_cart-list-no-cart">
                                <img class=" header_cart-no-cart-img" src="./assets/imgs/cart-empty.png">
                                <span class="header_cart-no-cart-msg"> Giỏ hàng đang trống </span>


                            </div>
                        </div> -->
                            
                        </li>
                        
                        
                        </ul>                     
                    </div>
                    <div class="header_navbar-item-mobile">
                        <a href="./Template/Cart.htm" class="header_navbar-icon-link">
                            <i class="header_navbar-icon-cart fa-solid fa-cart-shopping"></i> 
                        </a>
                    </div> 
                </div>
            </div>

            <div class="header_navbar-discount">
                <ul class="header_navbar-discount-list">

                    <li class="header_navbar-discount-item">
                    <a href="#" class=" header_navbar-dis-link header_navbar-dis-link--strong">
                        Cam kết
                    </a>
                    </li>


                    <li class="header_navbar-discount-item " >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-award"></i>                            
                        100% hàng thật  
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >   
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-circle-check"></i>
                        Chính hãng 
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-tags"></i>
                        Giá ưu đãi
                    </a>
                    </li>

                     
                    <li class="header_navbar-discount-item" >  
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-rotate"></i> 
                         30 ngày đổi trả
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link">
                         <i class="header_navbar-dis-icon fa-solid fa-truck-fast"></i>
                        Giao nhanh trong 2h
                    </a>
                    </li>

                </ul>
    
            </div>
        </header>
        <!---->
        <nav class="mobile-category">
            <!--de sau-->
        </nav>
        <!---->
        <section class="container">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-2 m-0 c-0">
                        <nav class="container__category">
                            <span class="header__category">Danh mục</span>
                            <ul class="category__list">
                                <li class="category__item">
                                    <a href="../Template/Information.htm" class="category__item-link">
                                        <i class="category__item-icon fa-regular fa-user"></i>
                                        Thông tin tài khoản
                                    </a>
                                </li>
                                <li class="category__item">
                                    <a href="../Template/Noti.htm" class="category__item-link">
                                        <i class="category__item-icon fa-regular fa-envelope"></i>
                                        Thông báo của tôi
                                    </a>
                               </li>
                                <li class="category__item">
                                    <a href="../Template/Orders.htm" class="category__item-link active">
                                        <i class="category__item-icon fa-solid fa-list"></i>
                                        Quản lý đơn hàng
                                    </a>
                                </li>
                                <li class="category__item">
                                    <a href="../Template/Return.htm" class="category__item-link">
                                        <i class="category__item-icon fa-solid fa-rotate-left"></i>
                                        Quản lý đổi trả
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <button type="button" class="logout_button">
                            Đăng xuất      
                        </button>          
                    </div>
                    <div class="col l-10 m-12 c-12">
                        <div class="information-pageee">
                            <div class="information-heading">
                                <h3>Chi tiết đơn hàng</h3>
                            </div>
                            <div class="information-rightt">
                                <div class="information-product">
                                    <h4 class="information-product-h4">Sản phẩm</h4>
                                </div>
                                <div class="orderss">
                                    <div class="order-item" data-status="Đang xử lý">
                                        <img id="item-img" src="../assets/imgs/m55-den.webp"> 
                                        Điện thoại Samsung Galaxy S23 Ultra 5G - 9.999.000đ
                                        <strong style="margin-left: 410px;">x1</strong>
                                    </div>
                                </div>
                                <div class="orderss">

                                    <div class="order-item" data-status="Đang vận chuyển">
                                        <img id="item-img" src="../assets/imgs/Đồng hồ.jpg"> 
                                        Đồng hồ thông minh BeFit Watch Ultra - 999.000đ
                                        <strong style="margin-left: 441px;">x1</strong>
                                    </div>
                                </div>
                                <div class="orderss">
                                    <div class="order-item" data-status="Đang vận chuyển">
                                        <img id="item-img" src="../assets/imgs/iMac.webp">
                                        iMac 24inch 4.5K M3 16GB/256GB - 10.999.000đ
                                        <strong style="margin-left: 441px;">x1</strong>
                                    </div>
                                </div>
                                <div class="information-customers">
                                    <h4 class="information-customers-h4">Tóm tắt đơn hàng</h4>
                                    <div class="information-customers-profile">
                                        <span id="username">Mã đơn: 002</span>
                                        <span id="username">Tổng tiền: 19.999.000đ</span>
                                        <span id="phone">Phí vận chuyển: 30.000đ</span>                                            
                                        <span id="address" style="color:rgb(11, 116, 229);">Tổng tiền thanh toán: 20.029.000đ</span>
                                    </div>
                                </div>
                                <div class="information-container">
                                    <div class="information-customers">
                                        <h4 class="information-customers-h4">Thông tin khách hàng</h4>
                                        <div class="information-customers-profile">
                                            <span id="username">Họ tên: Cao Thái Phương Thanh</span>
                                            <span id="phone">Điện thoại: 0703572465</span>                                            
                                            <span id="address">Địa chỉ: 45, Long Hòa, Cần Đước, Long An</span>
                                            <span id="address">Phương thức thanh toán: COD</span>
                                        </div>
                                    </div>
                                    <div class="information-address">
                                        <h4 class="information-address-h4">Thông tin vận chuyển</h4>
                                        <div class="information-address-profile">
                                            <span id="username">Phương thức vận chuyển: Giao hàng tiêu chuẩn</span>
                                            <span id="username">Ngày đặt hàng: 5/12/2024</span>
                                            <span id="birthday">Thời gian dự kiến: 12/12/2024</span>
                                            <span id="gender" style="color:rgb(11, 116, 229);">Trạng thái đơn hàng: Đã giao</span>
                                        </div>
                                    </div>
                                </div>
                                
                                    <!-- Nếu không có đơn -->
                                    <!-- <div class="styles__EmptyCpn-sc-1twarw-0 hggZkm" >
                                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/account/empty-order.png" alt="Empty Order">
                                        <p>Chưa có đơn hàng</p>
                                    </div> -->
                                    <!-- Đơn hàng -->
                                    <!-- <div class="order-item" data-status="Đang xử lý">
                                        <img id="item-img" src="../assets/imgs/m55-den.webp"> 
                                       Điện thoại Samsung Galaxy S23 Ultra 5G - Đang xử lý
                                    </div>

                                    <div class="order-item" data-status="Đang vận chuyển">
                                        <img id="item-img" src="../assets/imgs/Đồng hồ.jpg"> 
                                        Đồng hồ thông minh BeFit Watch Ultra - Đang vận chuyển
                                    </div>

                                    <div class="order-item" data-status="Đã giao">
                                        <img id="item-img" src="../assets/imgs/LaptopHP.webp"> 
                                        Laptop HP 15s i5 - Đã giao 
                                    </div>

                                    <div class="order-item" data-status="Đang vận chuyển">
                                        <img id="item-img" src="../assets/imgs/iMac.webp">
                                        iMac 24inch 4.5K M3 16GB/256GB - Đang vận chuyển 
                                    </div> -->
                                
                            </div>                                                         
                        </div>
                    </div>

                </div>
        </section>
        <footer class="end">
            <div class="grid wide">
                <div class="row row-end">
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="end__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Trung Tâm Hỗ Trợ</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Giao & Nhận Hàng</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Hướng Dẫn Mua Hàng</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Hướng Dẫn Trả Góp</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Chính Sách Bảo Hành</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="end__heading">VỀ PROTECH</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Giới Thiệu Về ProTech</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Quy Chế Hoạt Động</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Tuyển Dụng</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Điều Khoản</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Chính Sách Bảo Mật</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 hide-on-mobile-table">
                        <h3 class="end__heading">THANH TOÁN</h3>
                        <ul class="end__pay-list">
                            <li class="end__pay-item">
                                <a href="#" class="end__pay-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8"
                                        alt="logo"></a>
                            </li>
                            <li class="end__pay-item">
                                <a href="#" class="end__pay-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/38fd98e55806c3b2e4535c4e4a6c4c08"
                                        alt="logo"></a>
                            </li>
                        </ul>
                        <h3 class="end__heading">ĐƠN VỊ VẬN CHUYỂN</h3>
                        <ul class="end__deliver-list">
                            <li class="end__deliver-item">
                                <a href="#" class="end__deliver-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/59270fb2f3fbb7cbc92fca3877edde3f"
                                        alt="logo"></a>
                            </li>
                            <li class="end__deliver-item">
                                <a href="#" class="end__deliver-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/0d349e22ca8d4337d11c9b134cf9fe63"
                                        alt="logo"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="end__heading">THEO DÕI PROTECH</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <i class="end__heading-link-icon fa-brands fa-facebook"></i>
                                <a href="#" class="end__heading-link">
                                    Facebook
                                </a>
                            </li>
                            <li class="end__heading-item">
                                <i class="end__heading-link-icon fa-brands fa-square-instagram"></i>
                                <a href="#" class="end__heading-link">
                                    Instagram
                                </a>
                            </li>
                            <li class="end__heading-item">
                                <i class="end__heading-link-icon fa-brands fa-linkedin"></i>
                                <a href="#" class="end__heading-link">
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-8 c-6">
                        <h3 class="end__heading">THÔNG TIN LIÊN HỆ</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <p class="end__heading-p">Tổng đài hỗ trợ</p>
                                <a href="#" class="end__heading-link">1900-6713</a>
                            </li>
                            <li class="end__heading-item">
                                <p class="end__heading-p">Email CSKH</p>
                                <a href="#" class="end__heading-link">cskh@protech.vn</a>
                            </li>
                            <li class="end__heading-item">
                                <p class="end__heading-p">Hợp tác phát triển</p>
                                <a href="#" class="end__heading-link">hoptac@protech.vn</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="end__heading-more">
                    <span class="end__heading-law">© 2024 - Công ty ProTech | Verified by:</span>
                    <a href="#" class="end-certificate-link">
                        <img src="../assets/imgs/BCT.png" alt="" class="end-certificate-img">
                    </a>
                    </a>
                    <a href="#" class="end-certificate-link">
                        <img src="https://img.lazcdn.com/g/tps/tfs/TB1jyJMv.H1gK0jSZSyXXXtlpXa-184-120.png" style="height: 60px;" alt="" class="end-certificate-img">
                    </a>
                    <a href="#" class="end-certificate-link">
                        <img src="../assets/imgs/NKVHG.png" alt="" class="end-certificate-img-HG">
                    </a>
                    <a href="#" class="end-certificate-link">
                        <img src="https://images.dmca.com/Badges/dmca-badge-w150-2x1-02.png?ID=73ee7811-7aa7-44d0-bb06-6c0df0da41d8" style="height: 60px;" alt="" class="end-certificate-img">
                    </a>
                </div>
            </div>
        </footer>
        <footer class="end__heading-end">
                <div class="end__heading-end-information-group">
                    <span class="end__heading-end-information end__heading-end-information-name"><b>CÔNG TY PROTECH</b></span>
                    <span class="end__heading-end-information">Địa chỉ: 273 Đ. An Dương Vương, Phường 3, Quận 5, Hồ Chí Minh, Vietnam</span>
                    <span class="end__heading-end-information">Chịu Trách Nhiệm Quản Lý Nội Dung: Thành Viên 6713</span>
                    <span class="end__heading-end-information">© 2024 - Bản quyền thuộc về Công ty ProTech</span>
                </div>
        </footer>
    </div>
        <script src="cart.js"></script>
        <script src="logout.js"></script>
        
</body>
</html>
