<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTech - Điện thoại, SmartPhone chính hãng</title>
    <link rel="icon" type="image/x-icon" href="../../assets/imgs/logo-tab.png">
    <link rel="stylesheet" href="../../normalize.css">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!--fonts-->
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="web6713">
        <div class="modal">
            <img src="../../assets/imgs/logo_white_text.png" alt="" class="modal__img" >
            <div class="modal__body">
                <!-- dk -->
                        <section class="auht-form" id="signUpSection" style="display: block;">
                            <div class="auth-form__container">
                                <header class="auth-form__heaader">
                                    <h3 class="auth-form__header--heading">Đăng kí</h3>
                                    <span class="auth-form__header--switch-btn " id="showLogin">Đăng nhập</span>
                                </header>
                                <form class="auth-form__body">
                                    <div class="auth_form__body">
                                        <input type="text" class="auth-form__body__group--input" id="inp-namesign" placeholder="Tên đăng nhập/Email">                
                                    </div>
                                    <div class="auth_form__body__group">
                                        <input type="password" class="auth-form__body__group--input" placeholder="Mật khẩu">   
                                    </div>
                                    <div class="auth_form__body__group">
                                        <input type="password" class="auth-form__body__group--input" placeholder="Nhập lại mật khẩu">  
                                    </div>
                                    <div class="auth_form__body__group">
                                        <input type="text" class="auth-form__body__group--input" placeholder="Nhập địa chỉ">  
                                    </div>
                                </form>
                                <article class="auth-form__aside">
                                    <p class="auth-form__aside-policy">
                                        Bằng việc đăng kí, bạn đã đồng ý với ProTech về  
                                        <a href="#" class="auth-form__aside-policy--link">Điều khoảng dịch vụ</a>
                                         &                                
                                         <a href="#" class="auth-form__aside-policy--link">Chính sách bảo mật</a>           
                                        </p>
                                </article>
                                <footer class="auth-form__controls">
                                    <button class="btn auth-form__controls-back">TRỞ LẠI</button>
                                    <button class="btn btn--primary" id="btn--signup">Đăng ký </button>
                                </footer>                   
                            </div>
                                <footer class="auth-form__socials">
                                    <a href="#" class="btn btn-size-s btn-color-face btn--with-icon">
                                        <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                                        Kết nối với Facebook
                                    </a>
                                    <a href="#" class="btn btn-size-s btn-color-gg btn--with-icon">
                                        <i class="auth-form__socials-icon fa-brands fa-google"></i>
                                        Kết nối với Google
                                    </a>                
                                </footer>
                        </section>
                <!-- dn -->
                        <section class="auht-form" id="loginSection" style="display: none;">
                            <div class="auth-form__container">
                                <header class="auth-form__heaader">
                                    <h3 class="auth-form__header--heading">Đăng nhập</h3>
                                    <span class="auth-form__header--switch-btn " id="showSignUp">Đăng ký</span>
                                </header>
                                <form class="auth-form__body">
                                    <div class="auth_form__body__group">
                                        <input type="text" class="auth-form__body__group--input" id="inp-namelogin" placeholder="Tên đăng nhập/Email">
                                    </div>
                                    <div class="auth_form__body__group">
                                        <input type="password" class="auth-form__body__group--input" id="mk" placeholder="Mật khẩu">
                                        <i class="fas fa-eye"  onclick="daoTT()" ></i>
                                    </div>
                                </form>
                                <article class="auth-form__aside">
                                    <p class="auth-form__aside-help">
                                       <a href="#" class="auth-form__aside-help-link ">Quên mật khẩu</a>
                                       <span class="auth-form__aside-help-link-separate"></span>
                                       <a href="#" class="auth-form__aside-help-link">Cần trơ giúp?</a> 
                                    </p>
                                </article>
                                <footer class="auth-form__controls">
                                    <button class="btn auth-form__controls-back" id="btn--returnlog"> TRỞ LẠI</button>
                                    <button class="btn btn--primary" id="btn--login">Đăng nhập </button>
                                </footer>
                            </div>
                            <footer class="auth-form__socials">
                                <a href="#" class="btn btn-size-s btn-color-face btn--with-icon">
                                    <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                                    Kết nối với Facebook
                                </a>
                                <a href="#" class="btn btn-size-s btn-color-gg btn--with-icon">
                                    <i class="auth-form__socials-icon fa-brands fa-google"></i>
                                    Kết nối với Google
                                </a>
                            </footer>
                        </section>
            </div>
        </div>
       
        <footer class="end">
            <div class="grid wide">
                <div class="row row-end">
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="end__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Trung Tâm Hỗ Trợ</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Giao & Nhận Hàng</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Hướng Dẫn Mua Hàng</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Hướng Dẫn Trả Góp</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Chính Sách Bảo Hành</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="end__heading">VỀ PROTECH</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Giới Thiệu Về ProTech</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Quy Chế Hoạt Động</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Tuyển Dụng</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Điều Khoản</a>
                            </li>
                            <li class="end__heading-item">
                                <a href="#" class="end__heading-link">Chính Sách Bảo Mật</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 hide-on-mobile-table">
                        <h3 class="end__heading">THANH TOÁN</h3>
                        <ul class="end__pay-list">
                            <li class="end__pay-item">
                                <a href="#" class="end__pay-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8"
                                        alt="logo"></a>
                            </li>
                            <li class="end__pay-item">
                                <a href="#" class="end__pay-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/38fd98e55806c3b2e4535c4e4a6c4c08"
                                        alt="logo"></a>
                            </li>
                        </ul>
                        <h3 class="end__heading">ĐƠN VỊ VẬN CHUYỂN</h3>
                        <ul class="end__deliver-list">
                            <li class="end__deliver-item">
                                <a href="#" class="end__deliver-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/59270fb2f3fbb7cbc92fca3877edde3f"
                                        alt="logo"></a>
                            </li>
                            <li class="end__deliver-item">
                                <a href="#" class="end__deliver-item-link"><img
                                        src="https://down-vn.img.susercontent.com/file/0d349e22ca8d4337d11c9b134cf9fe63"
                                        alt="logo"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="end__heading">THEO DÕI PROTECH</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <i class="end__heading-link-icon fa-brands fa-facebook"></i>
                                <a href="#" class="end__heading-link">
                                    Facebook
                                </a>
                            </li>
                            <li class="end__heading-item">
                                <i class="end__heading-link-icon fa-brands fa-square-instagram"></i>
                                <a href="#" class="end__heading-link">
                                    Instagram
                                </a>
                            </li>
                            <li class="end__heading-item">
                                <i class="end__heading-link-icon fa-brands fa-linkedin"></i>
                                <a href="#" class="end__heading-link">
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-8 c-6">
                        <h3 class="end__heading">THÔNG TIN LIÊN HỆ</h3>
                        <ul class="end__heading-list">
                            <li class="end__heading-item">
                                <p class="end__heading-p">Tổng đài hỗ trợ</p>
                                <a href="#" class="end__heading-link">1900-6713</a>
                            </li>
                            <li class="end__heading-item">
                                <p class="end__heading-p">Email CSKH</p>
                                <a href="#" class="end__heading-link">cskh@protech.vn</a>
                            </li>
                            <li class="end__heading-item">
                                <p class="end__heading-p">Hợp tác phát triển</p>
                                <a href="#" class="end__heading-link">hoptac@protech.vn</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="end__heading-more">
                    <span class="end__heading-law">© 2024 - Công ty ProTech | Verified by:</span>
                    <a href="#" class="end-certificate-link">
                        <img src="./imgs/BCT.png" alt="" class="end-certificate-img">
                    </a>
                    </a>
                    <a href="#" class="end-certificate-link">
                        <img src="https://img.lazcdn.com/g/tps/tfs/TB1jyJMv.H1gK0jSZSyXXXtlpXa-184-120.png" style="height: 60px;" alt="" class="end-certificate-img">
                    </a>
                    <a href="#" class="end-certificate-link">
                        <img src="./imgs/NKVHG.png" alt="" class="end-certificate-img-HG">
                    </a>
                    <a href="#" class="end-certificate-link">
                        <img src="https://images.dmca.com/Badges/dmca-badge-w150-2x1-02.png?ID=73ee7811-7aa7-44d0-bb06-6c0df0da41d8" style="height: 60px;" alt="" class="end-certificate-img">
                    </a>
                </div>
            </div>
        </footer>
        <footer class="end__heading-end">
                <div class="end__heading-end-information-group">
                    <span class="end__heading-end-information end__heading-end-information-name"><b>CÔNG TY PROTECH</b></span>
                    <span class="end__heading-end-information">Địa chỉ: 273 Đ. An Dương Vương, Phường 3, Quận 5, Hồ Chí Minh, Vietnam</span>
                    <span class="end__heading-end-information">Chịu Trách Nhiệm Quản Lý Nội Dung: Thành Viên 6713</span>
                    <span class="end__heading-end-information">© 2024 - Bản quyền thuộc về Công ty ProTech</span>
            </div>
        </footer>
    </div>
    <script>
var signUpSection = document.getElementById('signUpSection');
var loginSection = document.getElementById('loginSection');
var btnSignUp = document.getElementById('showSignUp');
var btnLogin = document.getElementById('showLogin');
var returnpage = document.getElementById('btn--login');
var signUps = document.getElementById('btn--signup');
const textsign = document.getElementById('inp-namesign');
const textlogin = document.getElementById('inp-namelogin');

function openModal(sectionToShow) {
    if (sectionToShow === 'signUp') {
        signUpSection.style.display = 'block';    
        loginSection.style.display = 'none';
    } else if (sectionToShow === 'login') {
        signUpSection.style.display = 'none'; 
        loginSection.style.display = 'block';
    }
}

btnSignUp.addEventListener('click', function() {
    openModal('signUp');
});
btnLogin.addEventListener('click', function() {
    openModal('login');
});

signUps.addEventListener('click', function(){
    signUpSection.style.display = 'none'; 
    loginSection.style.display = 'block';
    textlogin.value = textsign.value;
});
returnpage.addEventListener('click', function(){
    window.location.href = '../../index.htm';

});
function daoTT() {
  let mk = document.getElementById("mk");
  mk.type = (mk.type === "password")? "text":"password";
} ;
    </script>
</body>
</html>