<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTech - Mua hàng Online giá rẻ</title>
    <link rel="icon" type="image/x-icon" href="../../assets/imgs/logo-tab.png">
    <link rel="stylesheet" href="../../normalize.css">
    <!-- assets -->
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!--fonts-->
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="web6713">
        <div class="header_first">
            <!-- <div class="grid">

            </div> -->
        </div>
        <header class="header">
            <div class="grid wide">
                
                <div class="header_navbar">
                        <div class="header_navbar-search">
                          
                            
                        <div class="header_width-search">
                            <a href="./index.htm" class="header_logo">
                                <img class="header_logo-img " src="../../assets/imgs/logo.png" alt="ProTech-logo" width="96" height="40">
                            </a>
                        </div>
                            
                            
                        <div class="header_navbar-search">
                                
                            
                            <div class="header_search">

                                <i class="header_search-icon fa-solid fa-magnifying-glass "></i>
                                <input type="text" class="header_search-input " placeholder ="Nhập thông tin để tìm kiếm sản phẩm ">
                                <button type="button" class="header_search-button"> Tìm kiếm </button>  
                                   
                                <div class="header_navbar-search-history">
                                    <div class="header_navbar-search-history-heading">
                                         Lịch sử tìm kiếm 
                                         
                                    </div>

                                    <ul class="header_navbar-search-history-list">
                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                Iphone 14 promax 
                                                
                                            </a>
                                        </li>

                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                AirPod Pro 2 
                                                
                                            </a>
                                        </li>

                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                Laptop Dell Precision 
                                            </a>
                                           
                                        </li>
 
                                        
                                    </ul>
                                </div>
                                
                            </div>
                            </div>
                            
                            
                            <ul class="header_navbar-list">
                            <li class="header_navbar-item">
    
                            <a href="#" class="header_navbar-icon-link">
                                <i class="fa-solid fa-house"></i>
                            </a>
    
                            <a href="../../index.htm" class="header_navbar-icon-link header_navbar-link--strong">
                                Trang chủ
                            </a>
                        </li>
    
                       
    
                        <li class="header_navbar-item">
                            <a href="#" class="header_navbar-item-link">
                                <a href="#" class="header_navbar-icon-link">
                                    <i class="fa-regular fa-face-smile-wink"></i>
                                </a>
    
                            Tài khoản
                            </a>
    
                        </li>

                        <li class="header_navbar-item header_navbar-item-no-pointer">
                            Liên hệ
                            <a href="" class="header_navbar-icon-link header_navbar-icon-link--separate">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram "></i>
                            </a>
                            
                        </li>
                        
                        <li class="header_navbar-item">

                         <a href="" class="header_navbar-icon-link">
                                <i class="header_navbar-icon-cart fa-solid fa-cart-shopping"></i> </a>
                    
                            
                        </li>
                        
                        
                    </ul>                       
                    </div>
                    
                </div>
                
                
            </div>

            <div class="header_navbar-discount">
                <ul class="header_navbar-discount-list">

                    <li class="header_navbar-discount-item">
                    <a href="#" class=" header_navbar-dis-link header_navbar-dis-link--strong">
                        Cam kết
                    </a>
                    </li>


                    <li class="header_navbar-discount-item " >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-award"></i>                            
                        100% hàng thật  
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >   
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-circle-check"></i>
                        Chính hãng 
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-tags"></i>
                        Giá ưu đãi
                    </a>
                    </li>

                     
                    <li class="header_navbar-discount-item" >  
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-rotate"></i> 
                         30 ngày đổi trả
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link">
                         <i class="header_navbar-dis-icon fa-solid fa-truck-fast"></i>
                        Giao nhanh trong 2h
                    </a>
                    </li>

                </ul>

    
            </div>
            </div>
        </header>

        <div class="Infomation">

            <div class="info-page">

                <div class="info-product-heading">
                    <span class="info-product-heading-item"> Thông tin sản phẩm </span>
                </div>

                <div class="info-product">
                 
                    <div class="info-product-item">
                        <img class="info-product-img" src="../../assets/imgs/ipad.png">
                    </div>

                    <div class="info-product-discribe">
                        <span class="discribe-item">Pad Air 6 M2 11 inch Wifi 128GB</span>
                        <span class="discribe-price"> 16.990.000đ </span>
                        <span class="discribe-price-sub"> 19.289.000đ </span>
                       
                        <ul class="discribe-list">
                              <li class="discribe-list-item">
                               Trang bị chip Apple M2 mạnh mẽ, xử lý nội dung mượt mà mọi tác vụ
                              </li>

                              <li class="discribe-list-item">
                                Gọi video call chất lượng cao với camera trước góc siêu rộng
                              </li>

                              <li class="discribe-list-item">
                                Màn hình Liquid Retina rực rỡ cho trải nghiệm hình ảnh sống động, sắc nét và chân thực
                              </li>



                        </ul>
                    </div>

                    <div class="info-product-count">
                        <span class="count-item"> Số lượng: </span>
                        <span class="count"> 1 </span>
                    </div>
                </div>

                



                <!-- info-customer -->
                <div class="info-item">
                    <span class="info-heading"> Thông tin khách hàng  </span>
                
                </div>

                <div class="info-input">
                    <input type="text" class="info-input-item " placeholder =" Họ và tên ">
                    <input type="text" class="info-input-item " placeholder =" Số điện thoại ">
                    <input type="text" class="info-input-item " placeholder =" Email ">
                </div>


                <!-- info-address -->

                <div class="info-delivery">
                    <span class="delivery-item"> Chọn cách thức giao hàng </span>
                     
                </div>

                <div class="info-choose">

                <div class="info-choose-1">
                    <input name="choose" class="info-radio" type="radio">
                    <span class="info-radio-item"> Nhận tại cửa hàng </span>
                </div>
                
                <div class="info-choose-2">
                    <input name="choose" class="info-radio" type="radio">
                    <span class="info-radio-item"> Giao hàng tận nơi </span>
                </div>

                    

                </div>

                <div class="info-address">
                  <div class="info-address-item">
                      
                    <div class="address-1">
                        <select class="select-1">
                         <option> Miền Bắc </option>
                         <option> Miền Nam </option>
                        </select>
                    </div>


                    <div class="address-1">
                        <select class="select-1">
                         <option> Hồ Chí Minh </option>
                         <option> Hà Nội </option>
                         <option> Hải Phòng </option>
                         <option> Đà Nẵng </option>
                         <option> Đồng Nai </option>
                         <option> Hà Giang </option>
                        </select>
                    </div>
                    
                </div>

                <div class="address-1">
                    <select class="select-2">
                     <option> Quận Hoàn Kiếm </option>
                     <option> Quận 3 </option>
                     <option> Huyện Nhà Bè </option>
                     <option> TP Hải Phòng </option>
                     <option> TP Biên Hòa </option>
                     <option> Huyện Bắc Quang </option>
                    </select>
                </div>

                <div class="address-input">
                    <div class="address-input-main">
                        <input type="text" class="address-input-item " placeholder =" Yêu cầu khác ">
                    </div>
                </div>

                </div>

                    <!-- info-pay -->
                <div class="pay-main">
                    <div class="pay-momo">
                        
                        <div class="item">
                            <img class="img-momo" src="../../assets/imgs/momo.jpg">
                            <span class="pay-momo-item"> Momo </span>
                        </div>
                        <input name="choose" class="pay-radio" type="radio">
                        
                    </div>

                    <div class="pay-vnpay">

                        <div class="item">
                            <img class="img-vnpay" src="../../assets/imgs/vnpay.jpg">
                            <span class="pay-vnpay-item"> Vn pay </span>
                        </div>
                        <input name="choose" class="pay-radio" type="radio">
                    </div>

                    <div class="pay-zalopay">
                        <div class="item">
                            <img class="img-zalo" src="../../assets/imgs/zalopay(1)(1).png">
                            <span class="pay-zalo-item"> Zalo pay </span>
                        </div>
                        <input name="choose" class="pay-radio" type="radio">



                    </div>
                    <div class="info-button">
        
                       <button class="button-item"> 
                           <a href="../Category/Order.html">
                           Đặt hàng 
                           </a>
                       </button>
                       
                    </div>
                </div>
            </div>
        </div>
</body>
</html>