<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTech - Mua hàng Online giá rẻ</title>
    <link rel="icon" type="image/x-icon" href="../../assets/imgs/logo-tab.png">
    <link rel="stylesheet" href="../../normalize.css">
    <!-- assets -->
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!--fonts-->
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="web6713">
        <div class="header_first">
           
        </div>
        <header class="header">
            <div class="grid wide">
                
                <div class="header_navbar">
                        <div class="header_navbar-search">
                          
                            
                        <div class="header_width-search">
                            <a href="./index.htm" class="header_logo">
                                <img class="header_logo-img " src="../../assets/imgs/logo.png" alt="ProTech-logo" width="96" height="40">
                            </a>
                        </div>
                            
                            
                        <div class="header_navbar-search">
                            <div class="header_search">
                                <i class="header_search-icon fa-solid fa-magnifying-glass "></i>
                                <input type="text" class="header_search-input " placeholder ="Nhập thông tin để tìm kiếm sản phẩm ">
                                <button type="button" class="header_search-button"> Tìm kiếm </button>  
                                   
                                <div class="header_navbar-search-history">
                                    <div class="header_navbar-search-history-heading">
                                         Lịch sử tìm kiếm 
                                    </div>
                                    <ul class="header_navbar-search-history-list">
                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                Iphone 14 promax                                                
                                            </a>
                                        </li>

                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                AirPod Pro 2                                               
                                            </a>
                                        </li>

                                        <li class="header_navbar-search-history-item">
                                            <a href="#"> 
                                                <i class="header_search-icon fa-solid fa-clock-rotate-left"></i>
                                                Laptop Dell Precision 
                                            </a>                                          
                                       </li>                                       
                                    </ul>
                                </div>                               
                            </div>
                            </div>
                            
                            
                            <ul class="header_navbar-list">
                            <li class="header_navbar-item">   
                            <a href="#" class="header_navbar-icon-link">
                                <i class="fa-solid fa-house"></i>
                            </a>   
                           <a href="../../index.htm" class="header_navbar-icon-link header_navbar-link--strong">
                                Trang chủ
                            </a>
                        </li>
    
                       
    
                        <li class="header_navbar-item">
                            <a href="#" class="header_navbar-item-link">
                                <a href="#" class="header_navbar-icon-link">
                                    <i class="fa-regular fa-face-smile-wink"></i>
                                </a>
    
                            Tài khoản
                            </a>   
                        </li>

                        <li class="header_navbar-item header_navbar-item-no-pointer">
                            Liên hệ
                            <a href="" class="header_navbar-icon-link header_navbar-icon-link--separate">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram "></i>
                            </a>                           
                        </li>
                        
                        <li class="header_navbar-item">
                         <a href="" class="header_navbar-icon-link">
                                <i class="header_navbar-icon-cart fa-solid fa-cart-shopping"></i> </a>                           
                        </li>                      
                    </ul>                       
                    </div>                    
                </div>               
            </div>

            <div class="header_navbar-discount">
                <ul class="header_navbar-discount-list">
                   <li class="header_navbar-discount-item">
                    <a href="#" class=" header_navbar-dis-link header_navbar-dis-link--strong">
                        Cam kết
                    </a>
                    </li>

                    <li class="header_navbar-discount-item " >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-award"></i>                            
                        100% hàng thật  
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >   
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-circle-check"></i>
                        Chính hãng 
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link ">
                        <i class="header_navbar-dis-icon fa-solid fa-tags"></i>
                        Giá ưu đãi
                    </a>
                    </li>

                     
                    <li class="header_navbar-discount-item" >  
                    <a href="#" class="header_navbar-dis-link">
                        <i class="header_navbar-dis-icon fa-solid fa-rotate"></i> 
                         30 ngày đổi trả
                    </a>
                    </li>


                    <li class="header_navbar-discount-item" >
                    <a href="#" class="header_navbar-dis-link">
                         <i class="header_navbar-dis-icon fa-solid fa-truck-fast"></i>
                        Giao nhanh trong 2h
                    </a>
                    </li>
                </ul>
            </div>
        </header>
    
        <div class="order-wrap">
        <div class="order-main">
            <div class="order-img">
            <img class="order-img-1" src="../../assets/imgs/tick.jpg">
        </div>

        <div class="order-heading">
            
            <span class="order-heading-item"> Đặt hàng thành công </span>      
        </div>

        <div class="order-name">
            <span class="order-name-item"> 
             Cảm ơn quý khách đã đặt hàng tại ProTechshop.com.vn </span>
        </div>

        <div class="order-main-2">            
            <div class="order-main-2-item">
                <ul class="order-list">
                    <li class="order-list-item">Họ tên khách hàng: <span class="list-info-1"> Cao Thái Phương Thanh</span> </li>
                    <li class="order-list-item">Mã đơn hàng: <span class="list-info-2"> #6713834737345</span></li>
                    <li class="order-list-item">Hình thức vận chuyển: <span class="list-info-3"> Giao hàng tận nơi</span></li>
                    <li class="order-list-item">Số điện thoại: <span class="list-info-4"> 0123456789 </span></li>
                    
                </ul>                
             </div>   
                    <a href="/index.htm" class="back-btn">Xem thêm sản phẩm khác</a>          
             </div>            
        </div>
        </div>
    </div>
    </div>

<script src="cart.js"></script>
</body>
</html>


