:root{
    --primary-color: rgb(11, 116, 229);
    --background-color: #f5f5fa;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

    
}

*{
    box-sizing: inherit; /*ke thua box-sizing*/
}

html{
    font-size: 62.5%;/* bang 10px, 100% = 16px*/
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}