.web6713{
    background-color: var(--background-color);
    overflow: hidden;
}

.header_first{
   background-color: #EFFFF4;
   height:43px;
}

/*Header*/

.header{
    background-color: var(--white-color);
    height:160px;
    padding:8px 0; 
   
}

/* .grid wide{
    
} */

.header_navbar{
    align-items: center;
}

.header_navbar-search{
    display:flex;
    justify-content: space-between;
    gap:40px;
   
}


/* header with search */
.header_width-search{
    height:81px;
   
}

.header_logo{

}

.header_logo-img{

}

.header_search{
    flex:1;
    height:40px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 227);
    width:885px;
    display:flex

}

.header_search-icon{
    font-size:1.5rem;
    margin: 10px 15px;
    color:var(--text-color);
    font-size: 1.5rem;


    
}

.header_search-button{
    margin:auto 7px;
    width:10%;
    height:90%;
    border:none;
    color:var(--text-color);
    font-size: 1.4rem;
    padding:0;
    background-color:var(--white-color);
    cursor:pointer;
    
}


.header_search-input{
    width:85%;
    height:100%;
    border:none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 3px;
    padding:0 8px;
    outline: none;
    flex:1;
}



.header_navbar-list{
    list-style: none;
    margin: 0;
    padding: 15px 0;

}

.header_navbar-item-link,
.header_navbar-item{
    display:inline-block;
    color: rgb(128, 128, 137 );
    font-size: 1.7rem;
    text-decoration: none;
    cursor: pointer;
}
.header_navbar-item-no-pointer{
    cursor:text;
}

.header_navbar-item{
    position:relative;
    margin:0 10px;
}

.header_navbar-link--strong{
    font-weight: 1.4rem;

}


/* Header_navbar-discount */
.header_navbar-discount-list{
    position: relative;
    width:100%;
    border-width: 1px 0; 
    border-style: solid;
    border-color: var(--text-color);
   
    
    
}

.header_navbar-discount-item{
    display:flex;
    gap:20px;
    width:100%;
    list-style: none;
    font-size: 1.4rem;
    text-align: center;
    padding:12px 0;
    margin:0;
    
}

.navber__homepage{
    color: var(--primary-color);
}

 .header_navbar-icon-link--separate::after{
    content:"";
    display:block;
    position:absolute;
    border-left: 2px solid black;
    height:12px;
    right:-10px;
    top:50%;
    transform :translateY(-50%);
} 

.header_navbar-icon-link{
    color: var(--icon-color);
    text-decoration: none;
} 


.h_icon-fa,
.h_icon-ins{
    margin-left: 5px;
}

/**/

/*container*/
 /*navnar*/
.container{
    padding: 20px 0;
}
.container__category{
    background-color: var(--white-color);
    padding: 15px 20px;
    margin-bottom: 16px;
    border-radius: 8px;
}
.header__category{
    font-size: 1.7rem;
    font-weight: 600;
}

.category__list{
    list-style: none;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}
.category__item{
}
.category__item-link{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 7px 0;
}
.category__item-icon{
    margin-right: 8px;
}
/**/
.container__menu{
    background-color: var(--white-color);
    min-height: 126px;
    border-radius: 8px;
}

.container__product{
    background-color: var(--white-color);
    border-radius: 8px;
}
/* end */

.grid__row-end{
    border-bottom: 1px solid #33333318;
    padding-bottom: 30px;
  }
.end{
    background-color: var(--white-color);
    padding-bottom: 10px;
}
.end__heading{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.end__heading-list{
    list-style: none;
    padding-left: 0;
}
.end__pay-list,
.end__deliver-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.end__pay-item,
.end__deliver-item{
    background-color: var(--white-color);
    padding: 3px;
    box-shadow: 0px 1px 5px rgba(51, 51, 51, 0.2);
    width: 63px;
    height: 30px;
    border-radius: 2px;
}
.end__pay-item-link,
.end__deliver-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: default;
}
.end__pay-item + .end__pay-item,
.end__deliver-item + .end__deliver-item{
    margin-left: 10px;
}
.end__heading-item{
    font-size: 1.3rem;
    margin-top: 10px;
}
.end__heading-link{
    text-decoration: none;
    color: rgba(51, 51, 51, 0.8);
}
.end__heading-link:hover{
    color: var(--primary-color);
}
.end__heading-link-icon{
    margin-right: 5px;
    font-size: 1.4rem;
}
.end__heading-dowload{
    display: flex;
}
.end__dowload-img-qr{
    height: 78px;
    width: 78px;
    padding: 5px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 2px #3333334a;
    cursor: pointer;
}
.end__dowload-app{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.end__dowload-app-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 17px;
    background-color: var(--white-color);
    margin-bottom: 8px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #3333334a;
    -webkit-tap-highlight-color: transparent;
}
  .end__dowload-app-img{
    width: 34px;
    height: 8px;
}
  
.end__heading-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px 0 0;
}
  .end__heading-law{
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.7);
}
.end__heading-country{
    padding: 0 5px;
}
.end__heading-country-list{
    display: flex;
    list-style: none;
}
.end__heading-country-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.7);
}
.end__heading-country:not(:last-child) {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.end__heading-end{
    background-color: var(--white-color);
    margin: 10px 0 20px;
}
.end__heading-end-list{
    list-style: none ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 40PX;
}
.end__heading-end-item{
    padding: 0 20px;
}
.end__heading-end-item:not(:last-child){
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.end__heading-country-link{
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.7);
}
.end__heading-end-certificate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
}
.end-certificate-link{
    height: 100%;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.end-certificate-img{
    width: 120px;
    height: 45px;
}
.end-certificate-img-HG{
    width: 70px;
    height: 70px;
}
.end-certificate-link:not(:last-child){
    margin-right: 40px;
}
.end__heading-end-information-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f5f5fa;
    
}
.end__heading-end-information{
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 0.9);
    margin-top: 10px;
}
.end__heading-end-information-name{
    margin-bottom: 1px;
}