.web6713{
    background-color: var(--background-color);
    overflow: hidden;
}

.header_first{
   background-color: #EFFFF4;
   height:43px;
}

/*Header*/

.header{
    background-color: var(--white-color);
    height:160px;
    padding:8px 0; 
   
}

/* .grid wide{
    
} */

.header_navbar{
    align-items: center;
}

.header_navbar-search{
    display:flex;
    justify-content: space-between;
    gap:40px;
    align-items: center;
   
}


/* header with search */
.header_width-search{
    height:81px;
    display:flex;
    align-items: center;
}

.header_logo{
    
}

.header_logo-img{
    width:81px;
    height:100%;
    color:var(--primary-color);
    padding-bottom: 15px;


}

.header_search{
    flex:1;
    height:40px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 227);
    width:885px;
    display:flex;

}

.header_search-icon{
    font-size:1.5rem;
    margin: 10px 15px;
    color:var(--text-color);
}

.header_search-button{
    margin:auto 7px;
    width:10%;
    height:90%;
    border:none;
    color:var(--icon-dis-color);
    font-size: 1.4rem;
    padding:0;
    background-color:var(--white-color);
    cursor:pointer;
    
}


.header_search-input{
    width:85%;
    height:100%;
    border:none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 3px;
    padding:0 8px;
    outline: none;
    flex:1;
    align-items: center;
}

/* Header-list */
.header_navbar-list{
    list-style: none;
    margin: 0;
    padding: 15px 0;
    text-align: center;

}

.header_navbar-item-link,
.header_navbar-item{
    display:inline-block;
    color: rgb(128, 128, 137 );
    font-size: 1.7rem;
    text-decoration: none;
    cursor: pointer;
}
.header_navbar-item-no-pointer{
    cursor:text;
}

.header_navbar-item{
    position:relative;
    margin:0 10px;
}

.header_navbar-link--strong{
    font-weight: 1.4rem;

}

.navber__homepage{
    color: var(--primary-color);
}

 .header_navbar-icon-link--separate::after{
    content:"";
    display:block;
    position:absolute;
    border-left: 2px solid rgb(235, 235, 240);
    height:12px;
    right:-10px;
    top:50%;
    transform :translateY(-50%);
    margin:auto -9px;
} 

.header_navbar-icon-link{
    color: var(--icon-color);
    text-decoration: none;
} 

.header_navbar-icon-cart{
    margin-left: 20px;
}


.h_icon-fa,
.h_icon-ins{
    margin-left: 5px;
}

/* Header_navbar-discount */
.header_navbar-discount{
    position: relative;
    width:100%;
    border-width: 1px 0; 
    border-style: solid;
    border-color: rgb(235, 235, 240);   
    
}

.header_navbar-discount-list{
    display:flex;
    gap:20px;
    width:100%;
    list-style: none;
    font-size: 1.4rem;
    text-align: center;
    padding:12px 24px;
    margin:0 78px;
    cursor:pointer;
    align-items: center;
    
}

.header_navbar-discount-item{
    position:relative;
}



.header_navbar-dis-link{
    color: rgb(39, 39, 42);
    text-decoration: none;
    margin-right: 4px;
}

.header_navbar-dis-icon{
    text-decoration: none;
    color:var(--icon-dis-color);
}


.header_navbar-dis-link--strong{
    color: rgb(0, 62, 161);
    font-weight: 1.4rem;
}


/**/

/*container*/
 /*navnar*/
.container{
    padding: 20px 0;
}
.container__category{
    background-color: var(--white-color);
    padding: 15px 20px;
    margin-bottom: 16px;
    border-radius: 8px;
}
.header__category{
    font-size: 1.7rem;
    font-weight: 600;
}

.category__list{
    list-style: none;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}
.category__item{
}
.category__item-link{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 7px 0;
}
.category__item-icon{
    margin-right: 8px;
}
/**/
.container__menu{
    background-color: var(--white-color);
    min-height: 126px;
    border-radius: 8px;
}

.container__product{
    background-color: var(--white-color);
    border-radius: 8px;
}